# Файлы сборки
bin/
obj/

# Каталоги Visual Studio
.vs/
.vscode/

# Локальные пользовательские файлы
*.user
*.suo

# Лог-файлы
*.log

# Кэш и временные файлы
*.cache
*.db

# Отчёты тестов
TestResults/

# Файлы отладки
*.pdb
*.dmp

# Конфигурационные файлы среды
App.config
