<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://nlog-project.org/schemas/NLog.xsd http://nlog-project.org/schemas/NLog.xsd">

	<targets>
		<!-- Настроим вывод в консоль -->
		<target name="console" xsi:type="Console" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />

		<!-- Настроим вывод в файл -->
		<target name="file" xsi:type="File" fileName="logs/app.log" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />
	</targets>

	<rules>
		<!-- Уровень логирования Debug и выше для консоли и файла -->
		<logger name="*" minlevel="Debug" writeTo="console, file" />
	</rules>

</nlog>
